body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(330deg, #243038,#627a86);
}
header{
    margin: auto;
    display: flex;
    justify-content: space-between;
    max-width: 70rem;
}
nav ul {
    display: flex;
    list-style: none;
    text-decoration: none;
}
nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    padding: 10px;
}
.container{
   border-radius: 30px;
    justify-content: center;
    align-items: center;
    max-width: 52rem;
    border: 2px solid gray;
    margin: auto;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.479);
}
.container-principal{

    min-height: 60vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  justify-content: center;
}
.select-container{

    width: 50em;

}
.container-direito{
    margin: auto;
    border: solid 2px rgb(94, 70, 70);
    width: 75%;
    background-color: rgb(235, 235, 238);
    text-align: center;
    color:#3e5361;
}




form{
    background-color: white;
    border-radius: 20%;
    padding-bottom: 30px;
}


/*lado direito*/

/*lado esquerdo*/
select{
    color: rgb(0, 0, 0);
    width: 7.1rem;
    height: 1.5rem;
    font-size: medium;
}
option{
 
    color: black;
    width: 7.1rem;
    height: 1.5rem;
    gap: 1em;
    background: gray;
}

.campo-loc{
  min-width: 320px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
@media screen and (max-width: 750px){
    .campo-loc{
        min-width: 220px;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          justify-content: space-evenly;
      }

      select{
        color: rgb(0, 0, 0);
        width: 7.1rem;
        height: 1.5rem;
        font-size: medium;
        display: flex;
    }
}
.campo-loc input{
  width: 12em;
  height: 1.5em;

}


/* persolaização dos inputs*/

label.iml{
    width: 200px;
    height: 20px;
    background-color: #243038;
}

#inp-file1{
    display: none;
}

h1{
    color: white;
}

.tit{
    text-align: center;
    border-bottom:3px solid white;
    }
   

    h4{
        margin: 10px;
    }



.textinp{
    color:#3e5361;
    border: 2px solid #3e5361;
}
label{
    font-size: 1.1rem;
    color:#3e5361;
}

legend{
    font-size: 1.4rem;
    color:#3e5361;
}
textarea{
    border: 2px solid #3e5361;
    text-indent: 3px;
    font-size: 1rem;
    max-width: 760px;
    max-height: 160px;
    
}

/*buttons*/
.buttons{
    text-align: center;
    
}
.sub-res{
    height: 30px;
    width: 70px;
    color: black;
   margin: auto;
   text-align: center;
}
 #sub{
    height: 30px;
    width: 70px;
 background-color: rgb(159, 159, 223);
 border: none;
 border-radius: 4px;
 }
 #sub:hover{
   
 background-color: rgb(53, 53, 201);
 color: white;
 }


