body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(330deg,#243038, #627a86);
    gap: 1.5rem;
 
}

.pai{
    max-width: 100em;
    min-width: 320px;
    margin: auto;
}


nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    margin-right: 8rem;
}

nav ul{
    list-style: none;
    font-family: "balans";
}

nav ul li{
display: inline-block;
}
nav ul li a{
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    color: white;
    border-radius: 30px;
    transition: 0.6s;
}
nav ul li a:hover{
    background-color: rgb(rgb(0, 174, 255), rgb(0, 55, 128), rgb(56, 138, 127));
}

.container-categoria{
    margin: auto;
    max-width:900px;
    min-width: 320px;
    max-height: 490px;
    min-height: 100px;
   /* border: 1px solid rgb(0, 0, 0);*/
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.562);
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 3rem;
}
.item{
    background-color: rgb(157, 185, 185);
    border: 2px solid rgb(63, 63, 63);
    height:200px;
    width: 290px;
}

.container-categoria img{
    width: 100%;
    height: 100%;
    object-fit:fill ;
}

.container-Destaques{
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 600px;
    max-height: 0.2rem;
 
   /* border: 1px solid rgb(0, 0, 0);*/
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgba(230, 230, 230, 0.89);
    padding: 20px;
    border-radius: 20px;
}

.container-Conteudo{
    margin: auto;
    width: 75%;
    height: 1000px;
   /* border: 1px solid rgb(0, 0, 0);*/
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgba(212, 207, 207, 0.562);
    border-radius: 20px;
}
