body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(330deg,#243038, #627a86);
    min-height: 100vh;
}

.container{
  max-width: 800px;
  margin: auto;
  padding: 1rem;
    
}
.logo{
    margin-right: 8rem;
}
header{
    margin: auto;
    max-width: 1000px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav ul{
    list-style: none;
    font-family: "balans";
}

nav ul li{
display: inline-block;
}
nav ul li a{
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    font-size: 19px;
    color: white;


}
nav ul li a:hover{
    background-color: rgb(rgb(0, 174, 255), rgb(0, 55, 128), rgb(56, 138, 127));
}

.container{

    margin-top: 2rem;
    width: 80%;
    background-color: #fff;
    border-radius: 6px;
    padding: 20px 60px 40px 40px;
    box-shadow: 0 5px 10px rgb(0, 0, 0);
    font-family: "apercu pro";
}
.container .content{

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container .content .left-side{

    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
    height: 100%;
}
.content .left-side::before{
    content: '';
    position: absolute;
    height: 80%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);

}
.content .left-side .details{
    margin: 14px;
    text-align: center;
    
    
}
.content .left-side .details i{
    font-size: 60px;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
}
.content .left-side .details .topic{
    font-size: 18px;
    font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
    font-size: 14px;
    color: rgb(0, 0, 0);

}



.container .content .right-side{
    width: 75%;
    margin-left: 75px;
}
.content .right-side .topic-text, h1{
    font-size: 23px;
    font-weight: 600;
    color: #4b4848;
    font-family: "balans";
}


@media (max-width: 950px){
    .container{
        width: 90%;
        padding: 20px 35px 40px 35px;
    }
}
@media (max-width: 820px){
    .container{
        margin: 40px 0;
        height: 100%;
    }
    .container .content{
    flex-direction: colmun-reverse;
    }
    .container .content .left-side{
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }
    .container .content .left-side::before{
        display: none;
    }
    .container .content .right-side{
        width: 100%;
        margin-left: 0;
    }
}