

body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(330deg,#243038, #627a86);
   min-height: 100vh;
}

header{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: "balans";

 
}

header img{
    margin-top: 8px;
    margin-left: 4px;
    width: 70px;
    height:70px;
  }


nav ul{
    list-style-type: none ;
    display: flex;
    gap: 3.5em;
    
}


nav ul li a{
    
    text-decoration: none;
    font-size: 19px;
    color: white;
    transition: 0.6s;
}


.container-WE-FIND{
    margin: auto;
    text-align: center;
    font-size: 40px;
    font-family: "balans";
    color: white;

}

.container-About{
    margin: auto;
    max-width:300px;
    min-width: 200px;
    max-height: 400px;
    min-height: 300px;
    text-align: center;
    font-family: "apercu";
    padding: 50px;
    margin-top: 1rem;
    color: aliceblue;
    font-size: 24px;
    
    /* From https://css.glass */
background: rgba(126, 255, 253, 0.199);
border-radius: 50px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.5px);
-webkit-backdrop-filter: blur(8.5px);
}