body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(330deg,#243038, #627a86);
    gap: 1.5rem;
    margin-left: 14rem;
    margin-top: 1rem;
    margin-right: 12rem;
    margin-bottom: 2rem;
}
.container{
  max-width: 900px;
  margin: auto;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    margin-right: 8rem;
}

nav ul{
    list-style: none;
    font-family: "balans";
}

nav ul li{
display: inline-block;
}
nav ul li a{
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    color: white;
    border-radius: 30px;
    transition: 0.6s;
}
nav ul li a:hover{
    background-color: rgb(rgb(0, 174, 255), rgb(0, 55, 128), rgb(56, 138, 127));
}

.search-box{
    position: absolute;
    margin-top: 2rem;
    margin-left: 12rem;
    transform: translate(-50%,-50%);
    background: #092952;
    height: 30px;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-txt{
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: aliceblue;
    font-size: 16px;
    line-height: 40px;
    transition: .6s;
    width: 200px;
    font-family: sans-serif;
}
::-webkit-input-placeholder{
    color: #4683d3;
}
.search-btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #092952;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .6s;
}

.search-box:hover > .search-btn{
    background: rgb(48, 59, 214);
}




.container-categoria{
    margin: auto;
    max-width:500px;
    min-width: 270px;
    max-height: 290px;
    min-height: 100px;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgba(65, 55, 55, 0.562);
    padding: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 5rem;
}
.item{
    background-color: rgb(157, 185, 185);
    border: 2px solid rgb(70, 70, 83);
    height:200px;
    width: 290px;


}

.container-Destaques{
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 600px;
    max-height: 1rem;
    min-height: 1rem;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgba(65, 55, 55, 0.562);
    padding: 20px;
    border-radius: 20px;
}

.container-Conteudo{
    margin: auto;
    max-width:500px;
    min-width: 320px;
    max-height: 800px;
    min-height: 900px;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgba(65, 55, 55, 0.562);
    padding: 50px;
    border-radius: 50px;
}
