:root{
    --cor1:#03254c;
    --cor2:#1167b1;
    --cor3:#187bcd;
    --cor4:#2a9df4;
    --light-cor4:#2a9df4;
    --cor5:#d0efff;
   }

/*Google fonts - poppins*/
@import url('https:/fonts.googleapis.com/css2?family=poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

/*nav bar*/
.header{
    margin: auto;
    display: flex;
    justify-content: space-between;
    max-width: 90rem;
    align-items: center;
}
nav ul {
    display: flex;
    list-style: none;
    text-decoration: none;
}
nav ul img{
    color: white;

    align-items: center;
    height: 50px;
    width: 30px;
    border-radius: 50%;
}
nav a{
    font-family: balans;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    padding: 30px;
}


body{
    background-image:linear-gradient(330deg, #243038, #627a86)
}


/*========== Formulario ========*/
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.form{
    position: absolute;
    max-width: 430px;
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    background: white;  
}
.lo{
    font-family: balans;
    font-size: 28px;
    font-weight: 600;
    color: #03254c;
    text-align: center;
}
form{
    margin-top: 30px;
}

.form .field{
    color: white;
    height: 50px;
    width: 100%;
    margin-top: 10px;
    border-radius: 30px;
}
.field input{
    background:lightgray;
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 30px;
}
.field button{
    height: 100%;
    width: 60%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 30px;
    position: relative;
    left: 5rem;
}
.field input{
    outline: none;
    padding: 0 15px;
    border: 1px solid#CACACA;
}
.field input:focus{
    border-bottom-width: 2px;
}
.eye-incon{
    position: absolute;
    font-size: 18px;
    color: black;
    top: 63.6%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 5px;
    justify-content: space-around;
}
.eye-icon{
    position: absolute;
    font-size: 18px;
    color: black;
    top: 75.5%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 5px;
    justify-content: space-around;
}
.field button{
    font-family: balans;
    color: white;
    background-color: #46565d;
    transition: all 0.3s ease;
    cursor: pointer;
}
.field button:hover{
    background-color: #2a9df4;
}
.form-link{
    text-align: center;
    margin-top: 10px;
}
.form-link span, .form-link a{
    font-family:  apercu pro;
    font-size: 14px;
    font-weight: 400;
    color: #03254c;
}
.form a{
    font-family:  apercu pro;
    color: #2a9df4;
    text-decoration: none;
}
.form-content a:hover{
    text-decoration: underline;
}

/*====== Imagem =====*/
.go
{
    background:linear-gradient(330deg, #243038, #627a86);
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left: 9.5rem;
}
/*===== Medida ====*/
@media screen and (max-width: 400px){
    .form{
        padding: 15px 10px;
    }
    .container{
        position: relative;
        margin-top: 20vh;
    }
}